@keyframes moveRigt{
    0%{
        left: 0;
    }
    100%{
        left: 45%;
    }
}
@keyframes moveLeft{
    0% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}
/* @keyframes explosion{
    0%{
        left: 0%;
    }
    100%{
        left: 50%;
    }
} */